---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="About me.">
  <main>
    <p style="color: white;">Esto es un párrafo de prueba en About me.</p>
    <Card
      title="Home"
      body="Volver a la home"
      href="/"
    />
  </main>
</Layout>